@black: #0D1321;
@white: #fff;

@gray: #B3BFB8;
@gold: #FFD800;


html {font-size: 1.0em;}

/* https://github.com/kunukn/react-collapse */
.collapse-css-transition {
    transition: height 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* BRANDING */
.brand-black{
	color: #0D1321;
}

.brand-blue{
	color: #26547C;
}

.brand-gold{
	color: @gold;
}

.brand-dark-blue{
	color: #0D324D;
}

.brand-blue-bg{
	background-color: #26547C;
}

.brand-dark-blue-bg {
    background-color: #0D324D;
}

.brand-gold-bg{
	background-color: @gold;
}

.brand-black-bg{
	background-color: #0D1321;
}

.brand-red-bg{
	background-color: #D62839;
}

.inner-shadow{
	-moz-box-shadow:    inset 0 0 15px #000;
  	-webkit-box-shadow: inset 0 0 15px #000;
	box-shadow: 		inset 0 0 15px #000;
}

.link{
	box-shadow: none;
}

.-max-height-fill{
	max-height: 1080px;
}

.-screen-bg:after{
	content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    opacity: .45;
    background-color: #0d324d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}

.o-header.-large-header {
	min-height: 900px;
}

.o-header-intro{
	border-left-color: #FFD800;
	border-left-width: 3px;
}

.o-header-video {
	min-width: 100%;
}

.o-footer-content{
	border-color: #FFD800;
	border-width: 5px;
}

.m-typeform{
	width: 100%;
	height: 500px;
}

.m-card {
	min-height: 80vh;
}


.-card-red{
	background-color: #D62839;
}

.m-history__intro{
	border-left-color: #ccc;
	border-left-width: 3px;
}

.o-module__title{
	border-bottom: 5px solid #FFD800;
}

.o-modal__toggle-button{
	text-decoration: none;
}

.o-modal__toggle-button,
.o-modal__toggle-button:visited{
	color: #26547C;
}

.o-modal__toggle-button:hover,
.o-modal__toggle-button:active{
	color: #0D324D;
}



.rs-steps-horizontal .m-progress-steps__step {
	overflow: hidden;
	padding-left: .75rem;

	&:first-child{
		padding-left: 0;
	}

	.rs-steps-item-icon {
		padding: .5rem;
		border-radius: 100%;
		border: 1px solid;
		width: 2.75rem;
		height: 2.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: @gold;

		&-finish {
			color: @gold;
		}

		&-process {
			background: @gold;
			color: @black;
		}

		&-wait {
			color: @gray;
		}
	}

	.rs-steps-item-content{
		position: relative;
		padding: 0 .75rem;
		max-width: 100%;
		color: @gray;
		margin-top: 1.25rem;
		font-size: .875rem;

		&:before{
			content: "";
			display: block;
			border-top: 1px solid @gray;
			width: 600px;
			position: relative;

		}
	}

	&:last-child .rs-steps-item-content{
		max-width: none;
		padding-right: 0;
		&:before{
			content: none;
		}
	}

	.rs-steps-item-title{
		font-weight: bold;
		padding: .5rem 0;
		text-transform: uppercase;
	}

	&.rs-steps-item-status{
		&-finish .rs-steps-item-content {
			color: @white;

			&:before{
				border-color: @gold;
			}
		}

		&-process .rs-steps-item-content{
			color: @gold;
		}
	}
}

.a-image-divider {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#image-divider-1{
	background-image: url(https://cdn.singletaryscholarship.fund/images/bw-01.jpg);
}

#image-divider-2{
	background-image: url(https://cdn.singletaryscholarship.fund/images/cows.jpg);
}

#image-divider-3{
	background-image: url(https://cdn.singletaryscholarship.fund/images/graduate.jpg);
}

.m-privacy {
	margin: 0 auto;
}

.-home-view {

  .o-shout-board__content{
	  height: 80vh;
	  overflow-y: auto;

	  &::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: @gold;
	}

	&::-webkit-scrollbar
	{
		width: 12px;
		background-color: @gold;
	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: @blue;
	}
  }
}


