html {font-size: 1.0em;}

.bg-brand-dark-blue {
    background-color: #0D324D;
}

/* BRANDING */
.brand-black{
	color: #0D1321;
}

.brand-blue{
	color: #26547C;
}

.brand-gold{
	color: #FFD800;
}

.brand-dark-blue{
	color: #0D324D;
}

.brand-blue-bg{
	background-color: #26547C;
}

.brand-dark-blue-bg {
    background-color: #0D324D;
}

.brand-gold-bg{
	background-color: #FFD800;
}

.brand-black-bg{
	background-color: #0D1321;
}

.link{
	box-shadow: none;
}

.-screen-bg:after{
	content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    opacity: .45;
    background-color: #0d324d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ffffff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");

}

.o-header {
	min-height: 900px;
}

.o-header-intro{
	border-left-color: #FFD800;
	border-left-width: 3px;
}

.o-footer-heading{
	border-left-color: #FFD800;
	border-left-width: 3px;
}

.m-typeform{
	width: 100%;
	height: 500px;
}

.m-card {
	min-height: 600px;
}


.-card-red{
	background-color: #D62839;
}

.m-history__intro{
	border-left-color: #ccc;
	border-left-width: 3px;
}

.o-module__title{
	border-bottom: 5px solid #FFD800;
}

.o-modal__toggle-button{
	text-decoration: none;
}

.o-modal__toggle-button,
.o-modal__toggle-button:visited{
	color: #26547C;
}

.o-modal__toggle-button:hover,
.o-modal__toggle-button:active{
	color: #0D324D;
}

.m-progress .rs-steps-item-status-finish .rs-steps-item-tail, 
.m-progress .rs-steps-item-status-finish .rs-steps-item-title::after {
    border-color: #FFD800;
}

.m-progress .rs-steps-item-status-finish .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon) {
    border-color: #FFD800;
    color: #fff;
}

.m-progress .rs-steps-item-status-finish .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon) .rs-steps-item-icon::before {
    color: #fff;
}

.m-progress .rs-steps-item-content {
    color: #ccc;
}

.m-progress .rs-steps-item-status-process .rs-steps-item-content {
    color: #FFD800;
}

.m-progress .rs-steps-item-status-process .rs-steps-item-icon-wrapper:not(.rs-steps-item-custom-icon) {
    border-color: #FFD800;
    background: #FFD800;
    color: #000;
}

.m-progress .rs-steps-item-status-process .rs-steps-item-title{
	font-weight: bold;
}